[Desktop Entry]
Type=Application
Name=Phosphor Rain Wallpaper
Comment=Flat 2D katakana digital rain behind the desktop
Exec=__HOME__/.local/bin/phosphor-rain start --wait
Terminal=false
X-LXQt-Need-Tray=false
OnlyShowIn=LXQt;
