[Desktop Entry]
Type=Application
Name=XScreenSaver (digital rain)
Comment=Phosphor screensaver daemon
Exec=xscreensaver -no-splash
Terminal=false
OnlyShowIn=LXQt;
